#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}      

.valid {
    color: green;
}   
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}   
  .invalid {
    color: red;
}   
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}  

.loginBox {
  background-color: rgb(255, 255, 255);
  border-color: orange;
  border-style: solid;
  border-width: 14px;
  border-radius: 45px;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 550px;
  height: 800px;
  font-size: 30px;
  text-align: center;
}

.grey{
  background-color: #c9c9c9;
  border-radius: 25px;
  width: 300px;
  height: 30px;
  font-family: "Lucida Handwriting", "Courier New", monospace;
}
.spacing{
  margin: 40px;
}
.forgot{
  font-size: 10px;
}

.login{
  padding: 10px;
  border-radius: 5px;
  margin-bottom: -10px;
  background-color: orange;
  color: ffffff;
  width: 290px;
  height: 50px;
  font-size: 30px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #005cd4;
}

.show{
  top: 5px;
  margin-top: 12px;
  border: solid white;
  font-size: small;
}