

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #005cd4;
}

/* Style the header */
.header {
  padding: 40px;
  background: #ff9900;
  color: #3936f7;
  border: 1px solid white;
}


/* Increase the font size of the h1 element */
h1 {
  font-size: 40px;
  color: #ff9900;
} 
.border {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}

.show {
  font-size: 10px;
  margin-top: -35px;
}

button {
  background-color: red;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.login{
  padding: 10px;
  border-radius: 10%;
  margin-bottom: -10px;
}

.loginw{
  padding: 10px;
  border-radius: 10%;
  margin-bottom: 10px;
}

.white {
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  font-size: 30px;
  text-align: center;
}

