html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #005cd4;
}

/* Style the header */
.header {
  height: 180px;
  background: #ff9900;  
}

.nav{
  list-style-type: none;
  display: inline-flex;
}

a{
  text-decoration: none;
  color: black;
}

.logo{
  font-size: 85px;
  float: left;
  padding-left: 25px;
  margin-top: 0px;
  color: #005cd4;
}

.links{
  font-size: 30px;
  padding-bottom: -10px;
  border: 1px solid red;
}

.pro{
  margin-left: 100%;
  margin-top: 22px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  float: right;
}

.login{
  padding: 10px;
  border-radius: 10%;
  margin-bottom: -10px;
}

.loginw{
  padding: 10px;
  border-radius: 10%;
  margin-bottom: 10px;
}

/* Increase the font size of the h1 element */

.border {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns:  auto auto auto auto;
  padding: 75px;
}
.grid-item {
  border-radius: 25px;
  background-color: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 60px;
  width: 200px;
  font-size: 30px;
  text-align: center;
}

.show{
 font-size: 10px;
 margin-top: -35px;
}

button {
  background-color: #ff8800;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.right{
  margin-left: 380%;
}

.white {
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  font-size: 30px;
  text-align: center;
}

